html {
    box-sizing: border-box; 
}
*,*:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: white;
    text-align: left justify;
    padding: 12px;
    margin-bottom: 24px;
}

header {
    background-color: white;
    font-family: 'Varta', sans-serif;
    color: black;
    text-align: justify;
    font-size: 14px;
    margin: 12px;
    padding: 24px;

}

.container {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.image1 {
    display:block;
    width: 100%;
}



.btngroup button{
    background-color: white;
    border: 1px black;
    color: black;
    padding: 4px 18px;
    cursor: pointer;
    float: left;
}

.btngroup button:not(:last-child) {
    border-right: none; 
}

.btngroup:after {
    content: "";
    clear: both;
    display: table;
}

.btngroup button:hover {
    background-color: lightblue; 
}




main {
    background-color: white;
    font-family: 'Varta', sans-serif;
    font-size: 12px;
    text-align: justify;
    padding: 12px;
    margin: 12px;
}


.item{
    background-color: #F0E4E4;
    text-align: justify;
    padding: 12px; 
    margin: 12px;
    border-radius: 8%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

h2 {
    text-align: left;
}

img {                                                                                                                                                                                                                                                                                                                                                                                    
    display: block;
    max-width: 100%;;
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

/* .profileimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px; 
    border-radius: 8px;
} */

footer {
    color: white;
    text-align: center;
    font-size: .5em ;
}


@media (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly
    }

    main {
        display:flex;
    }
    
    .item {
        width: 50%;
    }

    /* .intro {
        display: flex;
    } */

    .intro p {
        padding-left: 12px;
    }
    
} 

}

@media (min-width: 1100px) {
    .image1 {
        width: 1200px;
        height: 200px;
    }

    .item {
        width: 50%;
    }

}

